@import 'node_modules/bulma/bulma.sass';
@import 'node_modules/github-markdown-css/github-markdown';

.markdown-body{
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  text-align: left;
}
